@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  --primary: #fe043c;
  --secondary: #fff5ec;
  --textMain: #2e266f;
  --textSecondary: #707070;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--secondary);
}

.row {
  width: 100%;
  display: flex;
}
